.fullBackground{
    background-color: beige
}

.container-bordered{
    padding: 10px;
    border: 3px solid #cecece;;
    border-radius: 10px;
}

.marg{
    margin: 20px;
    background-color: antiquewhite;
    padding-top: 15px;
}

.edit-icon{
    margin-left: 10px;
    margin-top: 6px;
    height: 22px;
}

.bg-light{
    background-color: antiquewhite;
}
