.fullBackground{
    background-color: antiquewhite;
}

.container-bordered{
    padding: 10px;
    border: 3px solid #cecece;;
    border-radius: 10px;
    background-color: beige;
}

.marg{
    margin: 20px;
    padding-top: 15px;
}

.edit-icon{
    margin-left: 10px;
    margin-top: 6px;
    height: 22px;
}

.bg-light{
    background-color: antiquewhite;
}

.button-marg{
    margin-left: 10px;
}

.checkbox-marg{
    margin-left: 7px;
    margin-top: 3px;
}

.user-style{
    color: darkcyan;
    margin-top: 10px;
}

.marg-left-20{
    margin-left: 20px;
}

.font-darkcyan{
    color: darkcyan;
}

.allign-text-center{
    text-align: center;
}

.allign-text-left{
    text-align: left;
}

.account{
    width: 35%;
    margin: 20px;
    padding: 15px;
    background-color: #ede7e7;
    border: 3px solid #cecece;;
    border-radius: 10px;
}

.marg-20{
    margin: 20px;
}

.pad-right-40{
    padding-right: 15px;
}

.marg-top-30{
    margin-top: 30px!important;
}

.pad-bottom-20{
    padding-bottom: 20px;
}

.eventBooking{
    margin: 20px;
    padding: 15px;
    background-color: #ede7e7;
    border: 3px solid #cecece;;
    border-radius: 10px;
}

.red-color{
    color: crimson;
    margin-top: 10px;
}